:root {
  // ======================COMMON======================
  --primary-dark: #000000;
  --primary-light: #ffffff;

  --secondary: #f3c653;
  --yellow-akzent: rgba(243, 198, 83, 1);
  --secondary-dark: rgba(199, 144, 2, 1);

  --text-main: #7a7a7a;

  // ======================RGBA======================
  --main-dark-rgb: 0, 0, 0;
  // ======================BACKGROUND======================
  --bg: #fffdee;
  --bg-dark: #f0ecd6;
  --bg-footer: #0e0c07;
}
