:root {
  // ======================COMMON======================
  --primary-dark: #000000;
  --primary-light: #ffffff;

  //   --yellow-akzent: #f3c653;
  --secondary: #f3c653;
  --secondary-dark: #c79002;

  --text-main: #7a7a7a;

  // ======================RGBA======================
  --main-dark-rgb: 0, 0, 0;
  // ======================BACKGROUND======================
  //   fon lemon
  --bg: #fffdee;
  //   fon lemon dark
  --bg-dark: #f0ecd6;
  --bg-footer: #0e0c07;
}
