:root {
  // ======================COMMON======================
  --primary-dark: #000000;
  --primary-light: #ffffff;
  --akzent-yellow: rgba(243, 198, 83, 1);
  --yellow: #f3c653;
  --brown: rgba(199, 144, 2, 1);

  --gray-main: #7a7a7a;

  --dark: #0e0c07;

  // ======================RGBA======================
  --main-dark-rgb: 0, 0, 0;
  // ======================BACKGROUND======================
  --bg: #fffdee;
  --bg-dark: #f0ecd6;
}
