<section class="testing">
  <ul class="main-list">
    <li class="list-item">
      <div class="list-item-element1">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
          hic, ut corrupti blanditiis numquam eligendi nisi delectus suscipit
          sapiente quos ea eius quasi totam molestiae non odio, cupiditate
          aperiam praesentium? Quo odit iure soluta ab maxime ullam! Esse,
          laudantium eaque magni possimus ipsum mollitia, corrupti, quod natus
          sequi architecto veniam.
        </p>
      </div>
      <div class="list-item-element2">
        <h2>Some random title</h2>
        <h3>Some random subtitle</h3>
      </div>
    </li>
  </ul>

  <div class="slider responsive">
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
  </div>

  <div class="slider responsive1">
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
  </div>

  <img src="./images/landing-footer-bg.png" alt="" width="600" />
</section>
